.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    background-color: darkslategray;
    color: #ffffff;
}
.sidebar-fixed-wrapper {

    top: 0;
    right: 0;
    bottom: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}
/* ----- Header ----- */
.sidebar-logo {
    font-size: 2em;
    padding-top: 20px;
}
.sidebar-header {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;  
    padding: 30px 16px;
}
.sidebar-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.headerTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.headerTitle > h1{
    margin: 0 6px;
}
/* ---- Navigations ----- */
.sidebar-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}
.sidebar-items .item {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 16px 8px;
    margin-top: 16px;
    box-shadow: 5px 10px hsl(180 25% 15% / 50% );
    transition: background-color 0.2s;
    background-color: rgba(255,255,255,0.05);
    cursor: pointer;
}
.sidebar-items .item:hover {
    background-color: rgb(85, 181, 152)
}

.activeSidebarlink {
    border: 3px solid rgb(85, 181, 152);
}
/*----- Footer -----*/
.sidebar .footer {
    position: fixed;
    width: 300px;
    height: auto;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background: hsl(180 25% 25% / 0.85);
    border-top: 3px solid hsl(180 25% 25%  )
}
@supports (backdrop-filter: blur(1rem)) {
    .sidebar .footer{
        background: hsl(180 25% 25% / 0.3);
        backdrop-filter: blur(0.5rem);
    }
}
.footer svg{
    color:floralwhite;
    right: 0;
    justify-self:flex-end;
}
.footer svg:hover{
    color:lightgray
}
.login {
    padding: 20px;
}
.footer p {
    font-weight: 200;
    font-size: 0.8em;
}
.toast {
    background: white !important;
    color: black !important;
}
.toast-header > button {
    display: none !important;
}
/* --- Collapsed Sidebar menu --- */
.sidebar.collapsed {
    display: none;
}

@media screen and (max-width: 600px) {
    #Sidebar {
        transform: translateY(0%);
        transition: transform 0.2s ease-out;
    }
    .sidebar{
        z-index:1000;
        background-color: hsl(180 50% 10% / 0.85);
        position: absolute;
        width: 100vw;
        height: 100%;
        overflow: hidden;
    }
    @supports (backdrop-filter: blur(1rem)) {
        .sidebar{
            background: hsl(180 50% 10% / 0.85);
            backdrop-filter: blur(1rem);
        }
    }
    .sidebar.collapsed {
        display: flex;
    }
    
    .sidebar-header img {
        display: none;
    }
    .sidebar .footer {
        width: 100%;
        margin-top: auto;
        flex: 1 0 30px;
    }
    .login {
        display: none;
    }
    
}