.Sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    background-color: darkslategray;
    color: #ffffff;
}
.sidebar-fixed-wrapper {

    top: 0;
    right: 0;
    bottom: 0;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* ----- Header ----- */
.sidebar-logo {
    font-size: 2em;
    padding-top: 20px;
}
.sidebar-header {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;  
    padding: 30px 16px;
}
.sidebar-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
/* ---- Navigations ----- */
.sidebar-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}
.sidebar-items .item {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px 8px;
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
}
.sidebar-items > .active {
    border-bottom: 1px solid #333;
}

.sidebar-items .item .active {
    border-bottom: 1px solid rgb(238, 234, 234);
}

.sidebar-items .item:hover {
    background-color: rgba(255,255,255,0.05)
}
.activeSidebarlink {
    border-bottom: 5px ridge rgb(85, 181, 152);
}
/*----- Footer -----*/
.Sidebar .footer {
    position: fixed;
    width: 300px;
    height: auto;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.footer svg{
    color:floralwhite;
    right: 0;
    justify-self:flex-end;
}
.footer svg:hover{
    color:lightgray
}
.login {
    padding: 20px;
}
.footer p {
    font-weight: 200;
    font-size: 0.8em;
}

/* --- Collapsed Sidebar menu --- */
.Sidebar.collapsed {
    display: none;
}
.Sidebar.collapsed * {
    display: none;
}