.project_card  {
    margin: 20px 5px;
    border:  black solid 2px !important;
    border-radius: 0 !important; 
    box-shadow: 10px 20px hsl(47, 91%, 30%)
}

.project_card:hover .card_description {
    visibility: visible;
    font-size: 1.3em;
}

.project_card:hover {
    box-shadow: 10px 20px hsl(47, 91%, 30%);
}
.card_description {
    visibility: hidden;
}
.card-text {
    font-size: 2px;
}
.card-title {
    background: hsl(0 0% 0% / 0.60);
    padding: 5px ;
}
.card_img {
    transition: all 1s ease;
    -webkit-filter: blur(0px); /* Chrome, Safari, Opera */
    filter: blur(0px);
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card:hover > *:not(.card-img-overlay) {
    transition: all 0.5s ease;
    -webkit-filter: blur(0.8em); /* Chrome, Safari, Opera */
    filter: blur(0.8em);
    background-color: hsl(0 0% 0% / 0.60) !important;
}


/* box-shadow er kopiert  https://ordinarycoders.com/blog/article/codepen-bootstrap-card-hovers */