.projectContainer {
    background-color: #fae596;
    min-height: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex: 1 1 100vh;
    padding-top: 50px;
}
.projectCardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}